openapi: 3.0.3
info:
  description: This describes the resources that make up the CircleCI API v2.
  license:
    name: MIT
  title: CircleCI API
  version: v2
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- url: https://circleci.com/api/v2
security:
- api_key_header: []
- basic_auth: []
- api_key_query: []
tags:
- description: "[__EXPERIMENTAL__] Endpoints related to creating and managing a project."
  name: Project
- name: Context
- name: Insights
- name: Pipeline
- description: Endpoints related to managing policies and making policy decisions
  name: Policy Management
- description: Endpoints related to manage oidc identity tokens
  name: OIDC Token Management
- name: Workflow
- name: Webhook
- name: Schedule
- name: Job
- name: User
paths:
  /context:
    get:
      description: List all contexts for an owner.
      operationId: Context_listOwnerContexts
      parameters:
      - description: The unique ID of the owner of the context. Specify either this
          or owner-slug.
        explode: true
        in: query
        name: owner-id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: A string that represents an organization. Specify either this
          or owner-id. Cannot be used for accounts.
        explode: true
        in: query
        name: owner-slug
        required: false
        schema:
          type: string
        style: form
      - description: The type of the owner. Defaults to "organization". Accounts are
          only used as context owners in server.
        explode: true
        in: query
        name: owner-type
        required: false
        schema:
          enum:
          - account
          - organization
          type: string
        style: form
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListOwnerContextsResponse'
          description: A paginated list of contexts
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListOwnerContextsdefaultResponse'
          description: Error response.
      summary: List contexts
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--context
      x-accepts: application/json
    post:
      description: Creates a new context.
      operationId: Context_createNewContext
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextCreateNewContextRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextCreateNewContextResponse'
          description: The new context
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextCreateNewContextdefaultResponse'
          description: Error response.
      summary: Create a new context
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--context
      x-content-type: application/json
      x-accepts: application/json
  /context/{context-id}:
    delete:
      operationId: Context_removeContext
      parameters:
      - description: ID of the context (UUID)
        explode: false
        in: path
        name: context-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveContextResponse'
          description: A confirmation message
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveContextdefaultResponse'
          description: Error response.
      summary: Delete a context
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--context-context-id
      x-accepts: application/json
    get:
      description: Returns basic information about a context.
      operationId: Context_getInformation
      parameters:
      - description: ID of the context (UUID)
        explode: false
        in: path
        name: context-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextGetInformationResponse'
          description: The context
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextGetInformationdefaultResponse'
          description: Error response.
      summary: Get a context
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--context-context-id
      x-accepts: application/json
  /context/{context-id}/environment-variable:
    get:
      description: "List information about environment variables in a context, not\
        \ including their values."
      operationId: Context_listEnvironmentVariables
      parameters:
      - description: ID of the context (UUID)
        explode: false
        in: path
        name: context-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListEnvironmentVariablesResponse'
          description: A paginated list of environment variables
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextListEnvironmentVariablesdefaultResponse'
          description: Error response.
      summary: List environment variables
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--context-context-id-environment-variable
      x-accepts: application/json
  /context/{context-id}/environment-variable/{env-var-name}:
    delete:
      description: Delete an environment variable from a context.
      operationId: Context_removeEnvironmentVariable
      parameters:
      - description: The name of the environment variable
        example: POSTGRES_USER
        explode: false
        in: path
        name: env-var-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: POSTGRES_USER
      - description: ID of the context (UUID)
        explode: false
        in: path
        name: context-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveEnvironmentVariableResponse'
          description: A confirmation message
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextRemoveEnvironmentVariabledefaultResponse'
          description: Error response.
      summary: Remove an environment variable
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--context-context-id-environment-variable-env-var-name
      x-accepts: application/json
    put:
      description: "Create or update an environment variable within a context. Returns\
        \ information about the environment variable, not including its value."
      operationId: Context_updateEnvironmentVariable
      parameters:
      - description: ID of the context (UUID)
        explode: false
        in: path
        name: context-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the environment variable
        example: POSTGRES_USER
        explode: false
        in: path
        name: env-var-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: POSTGRES_USER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextUpdateEnvironmentVariableRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextUpdateEnvironmentVariableResponse'
          description: The new environment variable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextUpdateEnvironmentVariabledefaultResponse'
          description: Error response.
      summary: Add or update an environment variable
      tags:
      - Context
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--context-context-id-environment-variable-env-var-name
      x-content-type: application/json
      x-accepts: application/json
  /insights/pages/{project-slug}/summary:
    get:
      description: |-
        Get summary metrics and trends for a project at workflow and branch level.
                     Workflow runs going back at most 90 days are included in the aggregation window.
                     Trends are only supported upto last 30 days.
                     Please note that Insights is not a financial reporting tool and should not be used for precise credit reporting.  Credit reporting from Insights does not use the same source of truth as the billing information that is found in the Plan Overview page in the CircleCI UI, nor does the underlying data have the same data accuracy guarantees as the billing information in the CircleCI UI.  This may lead to discrepancies between credits reported from Insights and the billing information in the Plan Overview page of the CircleCI UI.  For precise credit reporting, always use the Plan Overview page in the CircleCI UI.
      operationId: Insights_getProjectSummaryMetrics
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        example: last-90-days
        explode: true
        in: query
        name: reporting-window
        required: false
        schema:
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
          type: string
        style: form
        x-konfig-original-example: last-90-days
      - description: The names of VCS branches to include in branch-level workflow
          metrics.
        example: "A single branch: ?branches=main or for multiple branches: ?branches=main&branches=feature&branches=dev"
        explode: true
        in: query
        name: branches
        required: false
        schema:
          type: object
        style: form
        x-konfig-original-example: "A single branch: ?branches=main or for multiple\
          \ branches: ?branches=main&branches=feature&branches=dev"
      - description: The names of workflows to include in workflow-level metrics.
        example: |-
          A single workflow name: ?workflow-names=build-test-deploy or
              for multiple workflow names: ?workflow-names=build&workflow-names=test-and-deploy.
        explode: true
        in: query
        name: workflow-names
        required: false
        schema:
          type: object
        style: form
        x-konfig-original-example: |-
          A single workflow name: ?workflow-names=build-test-deploy or
              for multiple workflow names: ?workflow-names=build&workflow-names=test-and-deploy.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectSummaryMetricsResponse'
          description: Aggregated summary metrics and trends by workflow and branches
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectSummaryMetricsdefaultResponse'
          description: Error response.
      summary: Get summary metrics and trends for a project across it's workflows
        and branches
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-pages-project-slug-summary
      x-accepts: application/json
  /insights/time-series/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      description: Get timeseries data for all jobs within a workflow. Hourly granularity
        data is only retained for 48 hours while daily granularity data is retained
        for 90 days.
      operationId: Insights_getJobTimeseriesData
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the workflow.
        example: build-and-test
        explode: false
        in: path
        name: workflow-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: build-and-test
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: The granularity for which to query timeseries data.
        example: hourly
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          enum:
          - daily
          - hourly
          type: string
        style: form
        x-konfig-original-example: hourly
      - description: Include only executions that started at or after this date. This
          must be specified if an end-date is provided.
        example: 2020-08-21T13:26:29Z
        explode: true
        in: query
        name: start-date
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2020-08-21T13:26:29Z
      - description: Include only executions that started before this date. This date
          can be at most 90 days after the start-date.
        example: 2020-09-04T13:26:29Z
        explode: true
        in: query
        name: end-date
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2020-09-04T13:26:29Z
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetJobTimeseriesDataResponse'
          description: "An array of timeseries data, one entry per job."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetJobTimeseriesDatadefaultResponse'
          description: Error response.
      summary: Job timeseries data
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-time-series-project-slug-workflows-workflow-name-jobs
      x-accepts: application/json
  /insights/{org-slug}/summary:
    get:
      description: |-
        Gets aggregated summary metrics with trends for the entire org.
                      Also gets aggregated metrics and trends for each project belonging to the org.
      operationId: Insights_getSummaryMetricsWithTrends
      parameters:
      - description: Org slug in the form `vcs-slug/org-name`. The `/` characters
          may be URL-escaped.
        example: gh/CircleCI-Public
        explode: false
        in: path
        name: org-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public
      - description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        example: last-90-days
        explode: true
        in: query
        name: reporting-window
        required: false
        schema:
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
          type: string
        style: form
        x-konfig-original-example: last-90-days
      - description: List of project names.
        example: "For a single project: ?project-names=some-project or for multiple\
          \ projects: ?project-names=some-project1&project-names=some-project2"
        explode: true
        in: query
        name: project-names
        required: false
        schema:
          type: object
        style: form
        x-konfig-original-example: "For a single project: ?project-names=some-project\
          \ or for multiple projects: ?project-names=some-project1&project-names=some-project2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetSummaryMetricsWithTrendsResponse'
          description: summary metrics with trends for an entire org and it's projects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetSummaryMetricsWithTrendsdefaultResponse'
          description: Error response.
      summary: "Get summary metrics with trends for the entire org, and for each project."
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-org-slug-summary
      x-accepts: application/json
  /insights/{project-slug}/branches:
    get:
      description: "Get a list of all branches for a specified project. The list will\
        \ only contain branches currently available within Insights. The maximum number\
        \ of branches returned by this endpoint is 5,000."
      operationId: Insights_listProjectBranches
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of a workflow. If not passed we will scope the API call
          to the project.
        example: build-and-test
        explode: true
        in: query
        name: workflow-name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: build-and-test
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsListProjectBranchesResponse'
          description: A list of branches for a project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsListProjectBranchesdefaultResponse'
          description: Error response.
      summary: Get all branches for a project
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-branches
      x-accepts: application/json
  /insights/{project-slug}/flaky-tests:
    get:
      description: |-
        Get a list of flaky tests for a given project. Flaky tests are branch agnostic.
                     A flaky test is a test that passed and failed in the same commit.
      operationId: Insights_getFlakyTests
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetFlakyTestsResponse'
          description: A list of flaky tests for a project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetFlakyTestsdefaultResponse'
          description: Error response.
      summary: Get flaky tests for a project
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-flaky-tests
      x-accepts: application/json
  /insights/{project-slug}/workflows:
    get:
      description: "Get summary metrics for a project's workflows.  Workflow runs\
        \ going back at most 90 days are included in the aggregation window. Metrics\
        \ are refreshed daily, and thus may not include executions from the last 24\
        \ hours.  Please note that Insights is not a financial reporting tool and\
        \ should not be used for precise credit reporting.  Credit reporting from\
        \ Insights does not use the same source of truth as the billing information\
        \ that is found in the Plan Overview page in the CircleCI UI, nor does the\
        \ underlying data have the same data accuracy guarantees as the billing information\
        \ in the CircleCI UI.  This may lead to discrepancies between credits reported\
        \ from Insights and the billing information in the Plan Overview page of the\
        \ CircleCI UI.  For precise credit reporting, always use the Plan Overview\
        \ page in the CircleCI UI."
      operationId: Insights_getProjectWorkflowMetrics
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      - description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        explode: true
        in: query
        name: all-branches
        required: false
        schema:
          type: boolean
        style: form
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        example: last-90-days
        explode: true
        in: query
        name: reporting-window
        required: false
        schema:
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
          type: string
        style: form
        x-konfig-original-example: last-90-days
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowMetricsResponse'
          description: A paginated list of summary metrics by workflow
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowMetricsdefaultResponse'
          description: Error response.
      summary: Get summary metrics for a project's workflows
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-workflows
      x-accepts: application/json
  /insights/{project-slug}/workflows/{workflow-name}:
    get:
      description: "Get recent runs of a workflow. Runs going back at most 90 days\
        \ are returned. Please note that Insights is not a financial reporting tool\
        \ and should not be used for precise credit reporting.  Credit reporting from\
        \ Insights does not use the same source of truth as the billing information\
        \ that is found in the Plan Overview page in the CircleCI UI, nor does the\
        \ underlying data have the same data accuracy guarantees as the billing information\
        \ in the CircleCI UI.  This may lead to discrepancies between credits reported\
        \ from Insights and the billing information in the Plan Overview page of the\
        \ CircleCI UI.  For precise credit reporting, always use the Plan Overview\
        \ page in the CircleCI UI."
      operationId: Insights_getRecentWorkflowRuns
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the workflow.
        example: build-and-test
        explode: false
        in: path
        name: workflow-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: build-and-test
      - description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        explode: true
        in: query
        name: all-branches
        required: false
        schema:
          type: boolean
        style: form
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      - description: Include only executions that started at or after this date. This
          must be specified if an end-date is provided.
        example: 2020-08-21T13:26:29Z
        explode: true
        in: query
        name: start-date
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2020-08-21T13:26:29Z
      - description: Include only executions that started before this date. This date
          can be at most 90 days after the start-date.
        example: 2020-09-04T13:26:29Z
        explode: true
        in: query
        name: end-date
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-konfig-original-example: 2020-09-04T13:26:29Z
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetRecentWorkflowRunsResponse'
          description: A paginated list of recent workflow runs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetRecentWorkflowRunsdefaultResponse'
          description: Error response.
      summary: Get recent runs of a workflow
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-workflows-workflow-name
      x-accepts: application/json
  /insights/{project-slug}/workflows/{workflow-name}/jobs:
    get:
      description: "Get summary metrics for a project workflow's jobs. Job runs going\
        \ back at most 90 days are included in the aggregation window. Metrics are\
        \ refreshed daily, and thus may not include executions from the last 24 hours.\
        \ Please note that Insights is not a financial reporting tool and should not\
        \ be used for precise credit reporting.  Credit reporting from Insights does\
        \ not use the same source of truth as the billing information that is found\
        \ in the Plan Overview page in the CircleCI UI, nor does the underlying data\
        \ have the same data accuracy guarantees as the billing information in the\
        \ CircleCI UI.  This may lead to discrepancies between credits reported from\
        \ Insights and the billing information in the Plan Overview page of the CircleCI\
        \ UI.  For precise credit reporting, always use the Plan Overview page in\
        \ the CircleCI UI."
      operationId: Insights_getProjectWorkflowJobMetrics
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the workflow.
        example: build-and-test
        explode: false
        in: path
        name: workflow-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: build-and-test
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      - description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        explode: true
        in: query
        name: all-branches
        required: false
        schema:
          type: boolean
        style: form
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: "The time window used to calculate summary metrics. If not provided,\
          \ defaults to last-90-days"
        example: last-90-days
        explode: true
        in: query
        name: reporting-window
        required: false
        schema:
          enum:
          - last-7-days
          - last-90-days
          - last-24-hours
          - last-30-days
          - last-60-days
          type: string
        style: form
        x-konfig-original-example: last-90-days
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowJobMetricsResponse'
          description: A paginated list of summary metrics by workflow job.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowJobMetricsdefaultResponse'
          description: Error response.
      summary: Get summary metrics for a project workflow's jobs.
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-workflows-workflow-name-jobs
      x-accepts: application/json
  /insights/{project-slug}/workflows/{workflow-name}/summary:
    get:
      description: Get the metrics and trends for a particular workflow on a single
        branch or all branches
      operationId: Insights_getWorkflowSummaryMetrics
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the workflow.
        example: build-and-test
        explode: false
        in: path
        name: workflow-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: build-and-test
      - description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        explode: true
        in: query
        name: all-branches
        required: false
        schema:
          type: boolean
        style: form
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetWorkflowSummaryMetricsResponse'
          description: Metrics and trends for a workflow
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetWorkflowSummaryMetricsdefaultResponse'
          description: Error response.
      summary: Get metrics and trends for workflows
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-workflows-workflow-name-summary
      x-accepts: application/json
  /insights/{project-slug}/workflows/{workflow-name}/test-metrics:
    get:
      description: Get test metrics for a project's workflows. Currently tests metrics
        are calculated based on 10 most recent workflow runs.
      operationId: Insights_getProjectWorkflowTestMetrics
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the workflow.
        example: build-and-test
        explode: false
        in: path
        name: workflow-name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: build-and-test
      - description: The name of a vcs branch. If not passed we will scope the API
          call to the default branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - description: Whether to retrieve data for all branches combined. Use either
          this parameter OR the branch name parameter.
        explode: true
        in: query
        name: all-branches
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowTestMetricsResponse'
          description: A list of test metrics by workflow
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsGetProjectWorkflowTestMetricsdefaultResponse'
          description: Error response.
      summary: Get test metrics for a project's workflows
      tags:
      - Insights
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--insights-project-slug-workflows-workflow-name-test-metrics
      x-accepts: application/json
  /me:
    get:
      description: Provides information about the user that is currently signed in.
      operationId: User_getInformation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetInformationResponse'
          description: User login information.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetInformationdefaultResponse'
          description: Error response.
      summary: User Information
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me
      x-accepts: application/json
  /me/collaborations:
    get:
      description: |-
        Provides the set of organizations of which a user is a member or a collaborator.

        The set of organizations that a user can collaborate on is composed of:

        * Organizations that the current user belongs to across VCS types (e.g. BitBucket, GitHub)
        * The parent organization of repository that the user can collaborate on, but is not necessarily a member of
        * The organization of the current user's account
      operationId: User_listCollaborations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListCollaborationsResponse'
          description: Collaborations
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListCollaborationsdefaultResponse'
          description: Error response.
      summary: Collaborations
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-collaborations
      x-accepts: application/json
  /pipeline:
    get:
      description: Returns all pipelines for the most recently built projects (max
        250) you follow in an organization.
      operationId: Pipeline_listRecentPipelines
      parameters:
      - description: "Org slug in the form `vcs-slug/org-name`. For projects that\
          \ use GitLab or GitHub App, use `circleci` as the `vcs-slug` and replace\
          \ the `org-name` with the organization ID (found in Organization Settings)."
        example: gh/CircleCI-Public
        explode: true
        in: query
        name: org-slug
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: gh/CircleCI-Public
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      - description: Only include entries created by your user.
        explode: true
        in: query
        name: mine
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListRecentPipelinesResponse'
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listPipelines
              parameters:
                page-token: $response.body#/next_page_token
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListRecentPipelinesdefaultResponse'
          description: Error response.
      summary: Get a list of pipelines
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pipeline
      x-accepts: application/json
  /pipeline/continue:
    post:
      description: "Continue a pipeline from the setup phase. For information on using\
        \ pipeline parameters with dynamic configuration, see the [Pipeline values\
        \ and parameters](https://circleci.com/docs/pipeline-variables/#pipeline-parameters-and-dynamic-configuration)\
        \ docs."
      operationId: Pipeline_continueExecution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineContinueExecutionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineContinueExecutionResponse'
          description: A confirmation message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineContinueExecutiondefaultResponse'
          description: Error response.
      summary: Continue a pipeline
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--pipeline-continue
      x-content-type: application/json
      x-accepts: application/json
  /pipeline/{pipeline-id}:
    get:
      description: Returns a pipeline by the pipeline ID.
      operationId: Pipeline_getById
      parameters:
      - description: The unique ID of the pipeline.
        example: 5034460f-c7c4-4c43-9457-de07e2029e7b
        explode: false
        in: path
        name: pipeline-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByIdResponse'
          description: A pipeline object.
          links:
            ProjectFromPipeline:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByIddefaultResponse'
          description: Error response.
      summary: Get a pipeline by ID
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pipeline-pipeline-id
      x-accepts: application/json
  /pipeline/{pipeline-id}/config:
    get:
      description: Returns a pipeline's configuration by ID.
      operationId: Pipeline_getConfigurationById
      parameters:
      - description: The unique ID of the pipeline.
        example: 5034460f-c7c4-4c43-9457-de07e2029e7b
        explode: false
        in: path
        name: pipeline-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetConfigurationByIdResponse'
          description: The configuration strings for the pipeline.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetConfigurationByIddefaultResponse'
          description: Error response.
      summary: Get a pipeline's configuration
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pipeline-pipeline-id-config
      x-accepts: application/json
  /pipeline/{pipeline-id}/workflow:
    get:
      description: Returns a paginated list of workflows by pipeline ID.
      operationId: Pipeline_listWorkflows
      parameters:
      - description: The unique ID of the pipeline.
        example: 5034460f-c7c4-4c43-9457-de07e2029e7b
        explode: false
        in: path
        name: pipeline-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListWorkflowsResponse'
          description: A paginated list of workflow objects.
          links:
            NextPipelineWorkflowsPage:
              operationId: listWorkflowsByPipelineId
              parameters:
                pipeline-id: $request.path.pipeline-id
                page-token: $response.body#/next_page_token
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListWorkflowsdefaultResponse'
          description: Error response.
      summary: Get a pipeline's workflows
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--pipeline-pipeline-id-workflow
      x-accepts: application/json
  /project/{project-slug}:
    get:
      description: Retrieves a project by project slug.
      operationId: Project_getBySlug
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetBySlugResponse'
          description: A project object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetBySlugdefaultResponse'
          description: Error response.
      summary: Get a project
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug
      x-accepts: application/json
  /project/{project-slug}/checkout-key:
    get:
      description: Returns a sequence of checkout keys for `:project`.
      operationId: Project_listCheckoutKeys
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: "The fingerprint digest type to return. This may be either `md5`\
          \ or `sha256`. If not passed, defaults to `md5`."
        explode: true
        in: query
        name: digest
        required: false
        schema:
          enum:
          - sha256
          - md5
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListCheckoutKeysResponse'
          description: A sequence of checkout keys.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListCheckoutKeysdefaultResponse'
          description: Error response.
      summary: Get all checkout keys
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-checkout-key
      x-accepts: application/json
    post:
      description: |-
        Not available to projects that use GitLab or GitHub App. Creates a new checkout key. This API request is only usable with a user API token.
                                   Please ensure that you have authorized your account with GitHub before creating user keys.
                                   This is necessary to give CircleCI the permission to create a user key associated with
                                   your GitHub user account. You can find this page by visiting Project Settings > Checkout SSH Keys
      operationId: Project_createCheckoutKey
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateCheckoutKeyRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateCheckoutKeyResponse'
          description: The checkout key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateCheckoutKeydefaultResponse'
          description: Error response.
      summary: Create a new checkout key
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--project-project-slug-checkout-key
      x-content-type: application/json
      x-accepts: application/json
  /project/{project-slug}/checkout-key/{fingerprint}:
    delete:
      description: Deletes the checkout key via md5 or sha256 fingerprint. sha256
        keys should be url-encoded.
      operationId: Project_deleteCheckoutKeyByFingerprint
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: An SSH key fingerprint.
        example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
        explode: false
        in: path
        name: fingerprint
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteCheckoutKeyByFingerprintResponse'
          description: A confirmation message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteCheckoutKeyByFingerprintdefaultResponse'
          description: Error response.
      summary: Delete a checkout key
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--project-project-slug-checkout-key-fingerprint
      x-accepts: application/json
    get:
      description: Returns an individual checkout key via md5 or sha256 fingerprint.
        sha256 keys should be url-encoded.
      operationId: Project_getCheckoutKeyByFingerprint
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: An SSH key fingerprint.
        example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
        explode: false
        in: path
        name: fingerprint
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: c9:0b:1c:4f:d5:65:56:b9:ad:88:f9:81:2b:37:74:2f
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetCheckoutKeyByFingerprintResponse'
          description: The checkout key.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetCheckoutKeyByFingerprintdefaultResponse'
          description: Error response.
      summary: Get a checkout key
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-checkout-key-fingerprint
      x-accepts: application/json
  /project/{project-slug}/envvar:
    get:
      description: "Returns four 'x' characters, in addition to the last four ASCII\
        \ characters of the value, consistent with the display of environment variable\
        \ values on the CircleCI website."
      operationId: Project_listEnvVarValues
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListEnvVarValuesResponse'
          description: A sequence of environment variables.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListEnvVarValuesdefaultResponse'
          description: Error response.
      summary: List all environment variables
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-envvar
      x-accepts: application/json
    post:
      description: Creates a new environment variable.
      operationId: Project_createEnvVar
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateEnvVarRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateEnvVarResponse'
          description: The environment variable.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateEnvVardefaultResponse'
          description: Error response.
      summary: Create an environment variable
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--project-project-slug-envvar
      x-content-type: application/json
      x-accepts: application/json
  /project/{project-slug}/envvar/{name}:
    delete:
      description: Deletes the environment variable named :name.
      operationId: Project_deleteEnvironmentVariable
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the environment variable.
        example: foo
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: foo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteEnvironmentVariableResponse'
          description: A confirmation message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteEnvironmentVariabledefaultResponse'
          description: Error response.
      summary: Delete an environment variable
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--project-project-slug-envvar-name
      x-accepts: application/json
    get:
      description: Returns the masked value of environment variable :name.
      operationId: Project_getMaskedEnvVar
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The name of the environment variable.
        example: foo
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: foo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetMaskedEnvVarResponse'
          description: The environment variable.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetMaskedEnvVardefaultResponse'
          description: Error response.
      summary: Get a masked environment variable
      tags:
      - Project
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-envvar-name
      x-accepts: application/json
  /project/{project-slug}/job/{job-number}:
    get:
      description: Returns job details.
      operationId: Job_getDetails
      parameters:
      - description: The number of the job.
        example: "123"
        explode: false
        in: path
        name: job-number
        required: true
        schema: {}
        style: simple
        x-konfig-original-example: "123"
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetDetailsResponse'
          description: Job details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetDetailsdefaultResponse'
          description: Error response.
      summary: Get job details
      tags:
      - Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-job-job-number
      x-accepts: application/json
  /project/{project-slug}/job/{job-number}/cancel:
    post:
      description: Cancel job with a given job number.
      operationId: Job_cancelWithNumber
      parameters:
      - description: The number of the job.
        example: "123"
        explode: false
        in: path
        name: job-number
        required: true
        schema: {}
        style: simple
        x-konfig-original-example: "123"
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCancelWithNumberResponse'
          description: ""
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCancelWithNumberdefaultResponse'
          description: Error response.
      summary: Cancel job
      tags:
      - Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--project-project-slug-job-job-number-cancel
      x-accepts: application/json
  /project/{project-slug}/pipeline:
    get:
      description: Returns all pipelines for this project.
      operationId: Pipeline_getAllPipelines
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - allowEmptyValue: true
        description: The name of a vcs branch.
        explode: true
        in: query
        name: branch
        required: false
        schema:
          type: string
        style: form
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetAllPipelinesResponse'
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listPipelinesForProject
              parameters:
                project-slug: $request.path.project-slug
                page-token: $response.body#/next_page_token
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetAllPipelinesdefaultResponse'
          description: Error response.
      summary: Get all pipelines
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-pipeline
      x-accepts: application/json
    post:
      description: Not yet available to projects that use GitLab or GitHub App. Triggers
        a new pipeline on the project.
      operationId: Pipeline_triggerNewPipeline
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineTriggerNewPipelineRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTriggerNewPipelineResponse'
          description: The created pipeline.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTriggerNewPipelinedefaultResponse'
          description: Error response.
      summary: Trigger a new pipeline
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--project-project-slug-pipeline
      x-content-type: application/json
      x-accepts: application/json
  /project/{project-slug}/pipeline/mine:
    get:
      description: Returns a sequence of all pipelines for this project triggered
        by the user.
      operationId: Pipeline_listUserPipelines
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListUserPipelinesResponse'
          description: A sequence of pipelines.
          links:
            NextPipelinePage:
              operationId: listMyPipelines
              parameters:
                project-slug: $request.path.project-slug
                page-token: $response.body#/next_page_token
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListUserPipelinesdefaultResponse'
          description: Error response.
      summary: Get your pipelines
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-pipeline-mine
      x-accepts: application/json
  /project/{project-slug}/pipeline/{pipeline-number}:
    get:
      description: Returns a pipeline by the pipeline number.
      operationId: Pipeline_getByNumber
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - description: The number of the pipeline.
        example: "123"
        explode: false
        in: path
        name: pipeline-number
        required: true
        schema: {}
        style: simple
        x-konfig-original-example: "123"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByNumberResponse'
          description: A pipeline object.
          links:
            ProjectFromPipeline:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineGetByNumberdefaultResponse'
          description: Error response.
      summary: Get a pipeline by pipeline number
      tags:
      - Pipeline
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-pipeline-pipeline-number
      x-accepts: application/json
  /project/{project-slug}/schedule:
    get:
      description: Returns all schedules for this project.
      operationId: Schedule_getAllSchedules
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      - allowEmptyValue: true
        description: A token to retrieve the next page of results.
        explode: true
        in: query
        name: page-token
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetAllSchedulesResponse'
          description: A sequence of schedules.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetAllSchedulesdefaultResponse'
          description: Error response.
      summary: Get all schedules
      tags:
      - Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-schedule
      x-accepts: application/json
    post:
      description: Not yet available to projects that use GitLab or GitHub App. Creates
        a schedule and returns the created schedule.
      operationId: Schedule_createNewSchedule
      parameters:
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreateNewScheduleRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleCreateNewScheduleResponse'
          description: A schedule object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleCreateNewScheduledefaultResponse'
          description: Error response.
      summary: Create a schedule
      tags:
      - Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--project-project-slug-schedule
      x-content-type: application/json
      x-accepts: application/json
  /project/{project-slug}/{job-number}/artifacts:
    get:
      description: Returns a job's artifacts.
      operationId: Job_getArtifacts
      parameters:
      - description: The number of the job.
        example: "123"
        explode: false
        in: path
        name: job-number
        required: true
        schema: {}
        style: simple
        x-konfig-original-example: "123"
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetArtifactsResponse'
          description: A paginated list of the job's artifacts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetArtifactsdefaultResponse'
          description: Error response.
      summary: Get a job's artifacts
      tags:
      - Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-job-number-artifacts
      x-accepts: application/json
  /project/{project-slug}/{job-number}/tests:
    get:
      description: "Get test metadata for a build. In the rare case where there is\
        \ more than 250MB of test data on the job, no results will be returned."
      operationId: Job_getTestMetadata
      parameters:
      - description: The number of the job.
        example: "123"
        explode: false
        in: path
        name: job-number
        required: true
        schema: {}
        style: simple
        x-konfig-original-example: "123"
      - allowReserved: true
        description: "Project slug in the form `vcs-slug/org-name/repo-name`. The\
          \ `/` characters may be URL-escaped. For projects that use GitLab or GitHub\
          \ App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization\
          \ ID (found in Organization Settings), and replace `repo-name` with the\
          \ project ID (found in Project Settings)."
        example: gh/CircleCI-Public/api-preview-docs
        explode: false
        in: path
        name: project-slug
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: gh/CircleCI-Public/api-preview-docs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetTestMetadataResponse'
          description: A paginated list of test results.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetTestMetadatadefaultResponse'
          description: Error response.
      summary: Get test metadata
      tags:
      - Job
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--project-project-slug-job-number-tests
      x-accepts: application/json
  /schedule/{schedule-id}:
    delete:
      description: Not yet available to projects that use GitLab or GitHub App. Deletes
        the schedule by id.
      operationId: Schedule_removeById
      parameters:
      - description: The unique ID of the schedule.
        explode: false
        in: path
        name: schedule-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRemoveByIdResponse'
          description: A confirmation message.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRemoveByIddefaultResponse'
          description: Error response.
      summary: Delete a schedule
      tags:
      - Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--schedule-schedule-id
      x-accepts: application/json
    get:
      description: Get a schedule by id.
      operationId: Schedule_getById
      parameters:
      - description: The unique ID of the schedule.
        explode: false
        in: path
        name: schedule-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetByIdResponse'
          description: A schedule object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleGetByIddefaultResponse'
          description: Error response.
      summary: Get a schedule
      tags:
      - Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--schedule-schedule-id
      x-accepts: application/json
    patch:
      description: Not yet available to projects that use GitLab or GitHub App. Updates
        a schedule and returns the updated schedule.
      operationId: Schedule_updateSchedule
      parameters:
      - description: The unique ID of the schedule.
        explode: false
        in: path
        name: schedule-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateScheduleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleUpdateScheduleResponse'
          description: A schedule object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleUpdateScheduledefaultResponse'
          description: Error response.
      summary: Update a schedule
      tags:
      - Schedule
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--schedule-schedule-id
      x-content-type: application/json
      x-accepts: application/json
  /user/{id}:
    get:
      description: Provides information about the user with the given ID.
      operationId: User_getUserInformation
      parameters:
      - description: The unique ID of the user.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetUserInformationResponse'
          description: User login information.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetUserInformationdefaultResponse'
          description: Error response.
      summary: User Information
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--user-id
      x-accepts: application/json
  /webhook:
    get:
      description: Get a list of outbound webhooks that match the given scope-type
        and scope-id
      operationId: Webhook_listMatchingScope
      parameters:
      - description: "ID of the scope being used (at the moment, only project ID is\
          \ supported)"
        explode: true
        in: query
        name: scope-id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - description: Type of the scope being used
        explode: true
        in: query
        name: scope-type
        required: true
        schema:
          enum:
          - project
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListMatchingScopeResponse'
          description: A list of webhooks
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListMatchingScopedefaultResponse'
          description: Error response.
      summary: List webhooks
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--webhook
      x-accepts: application/json
    post:
      description: Creates an outbound webhook.
      operationId: Webhook_createOutboundWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateOutboundWebhookRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateOutboundWebhookResponse'
          description: A webhook
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateOutboundWebhookdefaultResponse'
          description: Error response.
      summary: Create an outbound webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--webhook
      x-content-type: application/json
      x-accepts: application/json
  /webhook/{webhook-id}:
    delete:
      description: Deletes an outbound webhook
      operationId: Webhook_deleteOutboundWebhook
      parameters:
      - description: ID of the webhook (UUID)
        explode: false
        in: path
        name: webhook-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeleteOutboundWebhookResponse'
          description: A confirmation message
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeleteOutboundWebhookdefaultResponse'
          description: Error response.
      summary: Delete an outbound webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--webhook-webhook-id
      x-accepts: application/json
    get:
      description: Get an outbound webhook by id.
      operationId: Webhook_getById
      parameters:
      - description: ID of the webhook (UUID)
        explode: false
        in: path
        name: webhook-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookGetByIdResponse'
          description: A webhook
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookGetByIddefaultResponse'
          description: Error response.
      summary: Get a webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--webhook-webhook-id
      x-accepts: application/json
    put:
      description: Updates an outbound webhook.
      operationId: Webhook_updateOutboundWebhook
      parameters:
      - description: ID of the webhook (UUID)
        explode: false
        in: path
        name: webhook-id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateOutboundWebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookUpdateOutboundWebhookResponse'
          description: A webhook
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookUpdateOutboundWebhookdefaultResponse'
          description: Error response.
      summary: Update an outbound webhook
      tags:
      - Webhook
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--webhook-webhook-id
      x-content-type: application/json
      x-accepts: application/json
  /workflow/{id}:
    get:
      description: Returns summary fields of a workflow by ID.
      operationId: Workflow_getById
      parameters:
      - description: The unique ID of the workflow.
        example: 5034460f-c7c4-4c43-9457-de07e2029e7b
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-konfig-original-example: 5034460f-c7c4-4c43-9457-de07e2029e7b
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetByIdResponse'
          description: A workflow object.
          links:
            ProjectFromGetWorkflow:
              operationId: getProjectBySlug
              parameters:
                project_slug: $response.body#/project_slug
            WorkflowJobs:
              operationId: listWorkflowJobs
              parameters:
                id: $response.body#/id
            CancelWorkflow:
              operationId: cancelWorkflow
              parameters:
                id: $response.body#/id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowGetByIddefaultResponse'
[...]
